# .env.example

# Secret key for session management
SECRET_KEY=your-secret-key

# Database connection string
DATABASE_URL=postgresql://admin:your-password@localhost:5432/your-database-name

# JWT secret key for encoding and decoding JWT tokens
JWT_SECRET_KEY=your-jwt-secret

# Optional: Any other environment-specific variables
# For example:
# DEBUG=True
# FLASK_APP=app.py
# FLASK_ENV=development
